@media(min-width:640px) {

    /*---------------NAV -----------------------*/
    nav .navigation {

        display: flex;


    }

    li a:hover {
        text-shadow: 2px 2px 5px #5E6472;
        font-size: 3rem;
        color: black;
    }

    nav {
        width: -50%;
        padding: 2%;


    }

    #menu {
        display: none;

    }

    .navigation {
        flex-direction: row;

    }

    .navigation li {
        display: block;
        flex: 1 1 100%;



    }




    /*-----------------------------------------------*/



    #hero-box {
        grid-template-columns: auto;

    }

    .welcome1 {
        font-size: 3rem;
        text-align: center;
        font-family: "Allura";
        font-weight: 5;
        padding: 10%;
        margin: 1%;

    }


    /*----------------------------------------------------*/
    #background1 {
        width: 100%;
    }

    .logofoot {
        width: 6rem;
        height: auto;
    }




}