@media(min-width:640px) {
    .navigation a {

        border-bottom: none;
        font-size: 2.5rem;
    }

    .navigation li {
        width: 10%;


    }

    .material-symbols-outlined {
        font-size: 2.5rem;

    }


    /*--------------------- */

    input {
        width: 90%;
        font-size: 3rem;
        border-radius: 10px 10px;
    }

    label {
        grid-row: 2/3;
        z-index: 1;
        grid-column: 2/4;
        margin-left: 0%;

    }






}